# ===========
# IDE / Tools
# ===========
.idea/
.lsp/
/.lsp/.cache/
.worktrees

# ==================
# Python / Notebook
# ==================
__pycache__/
.mypy_cache/
__marimo__/
/.venv/

# ============
# JavaScript
# ============
node_modules/

# ====================
# Scraper output files
# ====================
raw_output
ttb_scrapes
scraper/data/
parser_logs
logs

# ====================
# Build Files
# ====================
zip_build
zip_build.zip