# =========================
# OS / Filesystem metadata
# =========================
.DS_Store
/docs/report/images/.DS_Store

# ===========
# IDE / Tools
# ===========
.idea/
.lsp/
/.lsp/.cache/

# ==================
# Python / Notebook
# ==================
__pycache__/
.mypy_cache/
/__marimo__/

# ============
# JavaScript
# ============
node_modules/

# ====================
# Scraper output files
# ====================
raw_output/
scraper/raw_output/
ttb_scrapes/

# ================================================
# Profiler files
# ================================================
*/scalene-profile.*
