# Python libraries to be installed

# Testing
python-ta

# Scraping and parsing data from Academic Calendar webpages
requests
bs4

# Graphs and visualization
flask
z3-solver
coloraide

# Statistics
matplotlib

# Styling
black